<%= form_with url: sessions_path, local: true do |f| %>
  <%= render 'layouts/errors' %>

  <%= f.email_field :email, placeholder: 'Email', title: 'Email', autofocus: true %><br/>
  <%= f.password_field :password, placeholder: 'Password', title: 'Password' %><br/><br/>

  <%= f.submit 'Sign In' %>
<% end %>

<br/><br/>

<div>
  --<br/>
  <%= link_to 'Sign Up', new_account_path %><br/>
  <%= link_to 'I forgot password', reset_password_path %>
</div>
