<%= link_to target.url, target.url %><br/>

Ping every <b><%= Target.plans[target.plan] %></b> minutes<br/>
Status: <%= link_to current_status(target), target_pings_path(target), class: (current_status_class(target) + " bold") %>,
<span class="f90">last ping: <time><%= last_ping_time(target) %></time>, <%= link_to 'Details', target_pings_path(target) %></span>

<% if target.wait? %>
  <%= render 'dns', target: target %>
<% end %>

<br/>
<br/>

<div class="f90">
  <%= link_to t(:edit) + '...', edit_target_path(target) %>
  <%= link_to t(:destroy) + '...', target, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<br/>
