<%= link_to target.url, target.url, class: "url" %>

<p class="plan">
  Ping every <b><%= Target.plans[target.plan] %></b> minutes
</p>

<p class="status">
  <span class="name">
    Status: <%=
            link_to current_status(target),
            target_pings_path(target), class: (current_status_class(target)) %>
  </span>

  <span class="time">
    Last ping: <time><%= last_ping_time(target) %></time>
  </span>

  <%= link_to 'Details', target_pings_path(target), class: "link" %>
</p>

<p class="links">
  <%= link_to t(:edit), edit_target_path(target), class: "edit" %>
  <%= link_to t(:destroy), target, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %>
</p>
