<%= render 'shared/title', text: 'My Urls' %>

<% if current_user.targets.any? %>
  <%= link_to 'Add new', new_target_path, class: "add" %>

  <ol>
    <% current_user.targets.each do |target| %>
      <li><%= render target %></li>
    <% end %>
  </ol>

<% else %>

  <%= render 'shared/any', text: 'Add first and start monitoring' %>

  <%= link_to new_target_path do %>
    <button>Add</button>
  <% end %>

<% end %>
