<h3><%= User.model_name.human %>:</h3>

<div class="field">
  <%= User.human_attribute_name(:name) %>:
  <span class="bold"><%= current_user.name %></span>
</div>

<div class="field">
  <%= User.human_attribute_name(:country) %>:
  <span class="bold"><%= d Country::COUNTRIES_HASH[current_user.country] %></span>
</div>

<br/>

<%= link_to edit_user_path(current_user) do %>
  <button><%= t :edit %></button>
<% end %>
