<header>
  <h1>
    <%= octicon :bell, height: 32 %>
    <%= APP::NAME.capitalize %>
  </h1>
</header>


<main>
  <h3><%= I18n.t('moto.long') %></h3>

  <%= form_with do |f| %>
    <%= f.text_field :email %><br/>
    <%= f.text_field :name %><br/>
    <%= f.text_field :password %><br/>

    <%= f.submit 'Create Account' %> or <%= link_to 'Register' %>
  <% end %>
</main>


<footer>
    <span class="copyright"><%=
                            app_link = link_to(APP::NAME.camelize, root_path)

                            year1 = APP::SINCE
                            year2 = Time.zone.now.year
                            app_years = year1 == year2 ? year1.to_s : "#{year1}-#{year2}"

                            "&copy; «#{app_link}» #{app_years}. #{t '.copyright'}.".html_safe
                            %></span>
    <%= link_to "t('.contact')", 'new_contact_path', class: :contact %>
  </div>
</footer>
