<section class="header">
  <h1>
    <hr class="left" />
    <%= I18n.t('app.motto') %>
    <hr class="right" />
  </h1>
</section>

<section class="light">

  <%= render 'color', name: 'green' do %>
    All right!
  <% end %>

  <%= render 'color', name: 'yellow' do %>
    Something is wrong
  <% end %>

  <%= render 'color', name: 'red' do %>
    Alert, something happened<br/>
    <span class="alert">You have sent a letter</span>
  <% end %>

</section>

<section class="start">
  <p class="free">Free service with paid features</p>
  <%= link_to "Getting started", new_account_registration_path %>
</section>
