<h2>Sign Up:</h2>

<%= form_with do |f| %>
  <%= f.email_field :email, placeholder: 'Your email' %><br/>
  <%= f.text_field :name, placeholder: 'Name' %><br/>
  <%= f.password_field :password, placeholder: 'Password' %><br/><br/>

  <%= f.submit 'Create Account' %>
<% end %>

<br/><br/>

<div>
  --<br/>
  <%= link_to 'Sign In' %><br/>
  <%= link_to 'I forgot password' %>
</div>
