<%= render 'layouts/app/title', text: 'Ping', url: @ping.target.url %>

<div class="<%= 'red' if @ping.red? %>">
  <div title="Status Code"><%= @ping.code_with_name %></div>
  <div title="Duration"><%= number_with_delimiter @ping.duration %> mc</div>

  <br/>

  <%= time_tag @ping.start, title: 'Request Time' %></br>
</div>


<br/>--<br/>

<p title="Response Body">
  <%= @ping.body %> ...
</p>
