<%= render 'title', text: 'Ping', url: @ping.target.url %>

<div class="<%= 'red' if @ping.red? %>">
  <div><%= @ping.code_with_name %></div>
  <%= @ping.duration %> mc</br><br/>

  <%= time_tag @ping.start %></br>
</div>
