<h1 class="logo">
  <%= link_to root_path do %>
    <%= image_tag 'bell.svg' %>
    <span><%= APP::NAME.capitalize %></span>
  <% end %>
</h1>

<ul class="menu">
  <% if !signed_in? %>
    <li class="login"><%= link_to 'Log in', new_account_session_path %></li>
    <li> | </li>
    <li><%= link_to 'Sign up', new_account_registration_path %></li>
  <% else %>
    <li><%= link_to t(:profile), profile_path %></li>
    <li> | </li>
    <li><%= link_to 'Sign out', destroy_account_session_path, method: :delete %></li>
  <% end %>
</ul>
