<!DOCTYPE html>
<html>
  <head><%= render 'layouts/head' %></head>
  <body id="app" class="<%= controller_name %> <%= action_name %>">

    <div>
      <header><%= render 'layouts/app/header' %></header>
      <main class="container"><%= yield %></main>
      <footer><%= render 'layouts/app/footer' %></footer>
    </div>

  </body>
</html>
