<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body id="app" class="layout">
    <%= empty_grid_area :header_ext %>

    <header class="app__header">
      <%= render 'layouts/app/header' %>
    </header>

    <%= empty_grid_area :header_ext %>
    <%= empty_grid_area :main_ext %>

    <main class="app__main">
      <div class="<%= controller_name %>">
        <div class="<%= action_name %>">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= empty_grid_area :main_ext %>
    <%= empty_grid_area :footer_ext %>

    <footer class="app__footer">
      <%= render 'layouts/app/footer' %>
    </footer>

    <%= empty_grid_area :footer_ext %>
  </body>
</html>
