<h3><%= Account.model_name.human %>:</h3>

<div class="field">
  <%= Account.human_attribute_name(:email) %>:
  <span class="bold"><%= current_account.email %></span>

  <% unless current_account.email_confirmed? %>
    <span class="red italic">
      &nbsp;<%= t('.email_not_confirmed') %>
    </span>
  <% end %>
</div>

<div class="field">
  <%= Account.human_attribute_name(:password) %>: ***
</div>

<br/>

<%= link_to edit_account_path(current_account) do %>
  <button><%= t :edit %></button>
<% end %>
