<h3><%= Account.model_name.human %> :</h3>

<dl>
  <dt><%= Account.human_attribute_name(:email) %></dt>
  <dd>
    <span><%= current_account.email %>
      <% unless current_account.email_confirmed? %>
        <i class="not-confirmed">
          &nbsp;<%= t('.email_not_confirmed') %>
        </i>
      <% end %>
    </span>
  </dd>

  <dt><%= Account.human_attribute_name(:password) %></dt>
  <dd><span>***</span></dd>

</dl>

<%= link_to t(:edit), edit_account_path(current_account), class: 'btn-edit' %>
