<div class="field">
  <label><%= Account.human_attribute_name(:email) %>:</label>
  <span class="bold"><%= current_account.email %></span>

  <% if current_account.confirmed? %>
    <span class="red italic">
      &nbsp;<%= t('.email_not_confirmed') %>
    </span>
  <% end %>
</div>

<div class="field">
  <label><%= Account.human_attribute_name(:password) %>:</label> ***
</div>

<%= link_to edit_account_registration_path(current_account) do %>
  <button><%= t :edit %></button>
<% end %>
