<h2><%= t('.title') %></h2>

<%= form_tag reset_password_path do %>
  <%= render 'shared/errors' %>

  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, autofocus: true %>
  </div>

  <%= render 'shared/submit_tag' %>
<% end %>
